.form-sec {
  position: relative;
  padding-top: 65px;
  padding-bottom: 80px;
  &::before {
    position: absolute;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    margin: auto;
    content: '';
    pointer-events: none;
    background-image: url('../img/bg-form.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}

.form-sec__title {
  font-weight: 800;
  line-height: 1.52;
  max-width: 1100px;
  margin: 0 auto 58px;
  text-align: center;
  color: #fff;

  @include responsive-font(33, 25);
}

//begin #ROW
.form-sec__row {
  display: flex;
  margin-bottom: 70px;

  @include max(1000) {
    flex-direction: column-reverse;
  }
}

.form-sec__info {
  width: 50%;
  padding-top: 40px;
  padding-right: 40px;

  @include max(1000) {
    width: 100%;
    padding: 0;
  }
}

.form-sec__info-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 45px;
  color: #fff;
}

.form-sec__info-list {
  max-width: 600px;
  margin: 0 0 35px 0;
  padding: 0;

  @include max(1000) {
    max-width: 100%;
  }
  li {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    position: relative;
    padding-bottom: 10px;
    padding-left: 30px;
    list-style: none;
    color: #fff;
    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      width: 13px;
      height: 10px;
      content: '';
      background-image: url('../img/ul-white.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.form-sec__info-ps {
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  color: #fff;
}

.form-sec__pic {
  width: 50%;

  @include max(1000) {
    width: 100%;
    margin-bottom: 25px;
  }
  img {
    display: block;
    max-width: 100%;

    @include max(1000) {
      margin: 0 auto;
    }
  }
}

//end #ROW

//begin #FORM
.form-sec-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-sec-form__input,
.form-sec-form__submit {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 22px);
  height: 70px;
  margin-bottom: 30px;
  padding: 5px 10px;

  @include max(1200) {
    width: calc(25% - 10px);
  }
  @include max(1000) {
    width: calc(50% - 15px);
  }
  @include max(560) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-sec-form__input {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px !important;
  background-color: transparent;

  @include placeholder-color(#fff);
}

.form-sec-form__submit {
  font-size: 15px;
  font-weight: 800;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  color: #4e2d5e;
  border: 1px solid #fff;
  border-radius: 3px !important;
  background-color: #fff;
}

//end #FORM
