.newtopline-gradient-sec {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.newtopline-circle-01,
.newtopline-circle-02 {
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.newtopline-circle-01 {
  top: -200px;
  left: -200px;
  width: 600px;
  height: 600px;
  animation: circleOne linear 140s infinite;
  background-image: url('../img/circle-01.png');
}

.newtopline-circle-02 {
  top: 70%;
  left: 70%;
  width: 800px;
  height: 800px;
  animation: circleTwo linear 100s infinite;
  background-image: url('../img/circle-02.png');
}

@keyframes circleOne {
  0% {
    transform: translate(0vw, 0vh);
  }
  5% {
    transform: translate(20vw, 20vh);
  }
  10% {
    transform: translate(30vw, 40vh);
  }
  15% {
    transform: translate(50vw, 30vh);
  }
  20% {
    transform: translate(60vw, 50vh);
  }
  25% {
    transform: translate(30vw, 70vh);
  }
  30% {
    transform: translate(50vw, 60vh);
  }
  35% {
    transform: translate(70vw, 80vh);
  }
  40% {
    transform: translate(90vw, 50vh);
  }
  45% {
    transform: translate(60vw, 30vh);
  }
  50% {
    transform: translate(40vw, 50vh);
  }
  55% {
    transform: translate(30vw, 70vh);
  }
  60% {
    transform: translate(50vw, 80vh);
  }
  65% {
    transform: translate(70vw, 60vh);
  }
  70% {
    transform: translate(50vw, 40vh);
  }
  75% {
    transform: translate(30vw, 50vh);
  }
  80% {
    transform: translate(10vw, 30vh);
  }
  85% {
    transform: translate(20vw, 10vh);
  }
  90% {
    transform: translate(40vw, 0vh);
  }
  95% {
    transform: translate(20vw, 10vh);
  }
  100% {
    transform: translate(0vw, 0vh);
  }
}

@keyframes circleTwo {
  0% {
    transform: translate(0vw, 0vh);
  }
  5% {
    transform: translate(-20vw, -10vh);
  }
  10% {
    transform: translate(-40vw, 0vh);
  }
  15% {
    transform: translate(-20vw, -10vh);
  }
  20% {
    transform: translate(-10vw, -30vh);
  }
  25% {
    transform: translate(-30vw, -50vh);
  }
  30% {
    transform: translate(-50vw, -40vh);
  }
  35% {
    transform: translate(-70vw, -60vh);
  }
  40% {
    transform: translate(-50vw, -80vh);
  }
  45% {
    transform: translate(-30vw, -70vh);
  }
  50% {
    transform: translate(-40vw, -50vh);
  }
  55% {
    transform: translate(-60vw, -30vh);
  }
  60% {
    transform: translate(-90vw, -50vh);
  }
  65% {
    transform: translate(-70vw, -80vh);
  }
  70% {
    transform: translate(-50vw, -60vh);
  }
  75% {
    transform: translate(-30vw, -70vh);
  }
  80% {
    transform: translate(-60vw, -50vh);
  }
  85% {
    transform: translate(-50vw, -30vh);
  }
  90% {
    transform: translate(-30vw, -40vh);
  }
  95% {
    transform: translate(-20vw, -20vh);
  }
  100% {
    transform: translate(0vw, 0vh);
  }
}
