.newtopline-index-info {
  position: relative;
  padding-top: 75px;
  padding-bottom: 80px;
  background-image: url('../img/bg-top-sec.svg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.newtopline-index-info__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newtopline-index-info__title-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 15px);
  margin-bottom: 40px;

  @include max(1000) {
    width: 100%;
  }
  @include max(560) {
    margin-bottom: 25px;
  }
}

.newtopline-index-info__title {
  span {
    display: block;
  }
}

.newtopline-index-info-item {
  display: flex;
  width: calc(50% - 15px);
  min-height: 300px;
  margin-bottom: 40px;
  padding: 30px;
  transition: $transition-hover;
  border-radius: 30px;
  background: #f8f7f9;
  box-shadow: 0 20px 30px rgba(138, 44, 91, 0);

  @include max(1000) {
    width: 100%;
  }
  @include max(560) {
    flex-direction: column-reverse;
    margin-bottom: 25px;
    padding: 30px 20px;
  }
  &:hover {
    box-shadow: 0 20px 30px rgba(138, 44, 91, .08);
    .newtopline-index-info-item__link-btn {
      background-color: #4e2d5e;
      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
}

.newtopline-index-info-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  @include max(560) {
    width: 100%;
  }
}

.newtopline-index-info-item__text {
  font-weight: 500;
  line-height: 1.65;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  color: #1e1e1e;

  flex-grow: 1;
  @include responsive-font(17, 15);
}

.newtopline-index-info-item__link {
  display: flex;
  align-items: center;
}

.newtopline-index-info-item__link-btn {
  position: relative;
  flex: none;
  width: 31px;
  height: 31px;
  margin-right: 10px;
  transition: $transition-hover;
  border: 1px solid #4e2d5e;
  border-radius: 50%;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: '';
    transition: $transition-hover;
    background-color: #4e2d5e;
  }
  &::before {
    transform: rotate(90deg);
  }
}

.newtopline-index-info-item__link-text {
  font-size: 12px;
  font-weight: bold;
  color: #4e2d5e;
}

.newtopline-index-info-item__pic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;

  @include max(560) {
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }
  img {
    display: block;
    max-width: 100%;
  }
}
