//begin form-sec
.form-sec
  .container
    h2.form-sec__title Запишитесь на диагностику и узнайте, как защитить ваш бизнес и подготовить к изменениям 2021 года
    //begin form-sec__row
    .form-sec__row
      .form-sec__info
        h3.form-sec__info-title После диагностики вашего бизнеса вы:
        ul.form-sec__info-list
          li Определите точки налоговых рисков для вашей компании
          li Получите план развития и карту скрытых рисков вашего бизнеса
          li Научитесь понимать своего бухгалтера и качественно проверять результаты его работы
          li Поймёте, как правильно выстроить управленческий учёт в компании
        .form-sec__info-ps + Получите дорожную карту развития вашего бизнеса
      .form-sec__pic
        img(src="assets/img/form-img.png" alt="picture")
    //end form-sec__row

    //begin form-sec__form
    form.form-sec__form.form-sec-form
      input(type="text" placeholder="Ваше имя").form-sec-form__input
      input(type="email" placeholder="Email").form-sec-form__input
      input(type="text" placeholder="Телефон").form-sec-form__input
      input(type="submit" value="Записаться на диагностику").form-sec-form__submit
    //end form-sec__form
//end form-sec