//begin header
header.newtopline-header#header
  a(href="/").newtopline-header__logo
    img(src="assets/img/logo.svg" alt="topline")

  .newtopline-header__info
    span <strong>Онлайн-диагностика для владельцев бизнеса</strong> от Натальи Ненашевой и команды экспертов «TOPLINE»
//end header