//begin teacher-sec
.teacher-sec
  .container
    //begin teacher-sec__header
    .teacher-sec__header
      h3.teacher-sec__subtitle Кто ведет онлайн-диагностику?
      h2.teacher-sec__title Наталья Ненашева
    //end teacher-sec__header

    //begin teacher-sec__body
    .teacher-sec__body
      //begin teacher-sec__item
      .teacher-sec__item
        .teacher-sec__pic
          img(src="assets/img/teacher.png" alt="picture")
        .teacher-sec__info
          ul.teacher-sec__info-list
            li <strong>Основатель и управляющий партнер</strong> компании «TOPLINE» – лидера консалтингового рынка столицы.
            li <strong>Эксперт</strong> по управлению бизнес-процессами, <strong>бизнес-консультант</strong> с 20-летним стажем.
            li <strong>Обширные компетенции</strong> в ключевых аспектах предпринимательства – финансовых, налоговых, юридических, управленческих, бухгалтерских.
            li <strong>Помогает строить прозрачный бизнес,</strong> который масштабируется и быстро развивается.
          .teacher-sec__info-blockquote
            blockquote Благополучие и безопасность владельца – главная ценность.<br>Ей подчинены все рабочие процессы по налаживанию бухгалтерского, налогового и управленческого учёта.
      //end teacher-sec__item

      //begin teacher-sec__item-hidden
      .teacher-sec__item-hidden
        .teacher-sec__item-hidden-inn
          .teacher-sec__item-hidden-text
            span Экономист по образованию, Наталья трудится в бизнесе с 1997 года. Уже в 1999-м, через два года после выпуска из вуза, руководила направлением «бухгалтерская отчётность» в трансрегиональной группе компаний «Метаком» (производственная и торговая специализация). Через год доросла до поста финдиректора группы компаний.
            span В 2004-м начала самостоятельную управленческую деятельность – стала руководителем  крупного самарского «Агентства консалтинга, аудита и оценки». С тех пор исповедует профессиональный принцип – «Делай, как для себя»: любую проблему клиента решает так, будто это её личный бизнес. Забота, неравнодушное отношение, стремление оградить компанию от любых рисков и сделать ее не только прибыльной, но и растущей – такое отношение встречает предприниматель, пришедший за консалтинговой помощью.
            span В 2007-2008 Наталья работала финдиректором группы компаний «Мотор» (дорожно-строительная группа с собственной производственной базой и крупными дорожными контрактами, а также сельхозбизнесом). Планирование денежных потоков, оптимизация расходов крупной компании, кредитование, учет и оптимизация, управление бухгалтерской службой, работа с земельными активами – все ключевые бизнес-процессы были познаны на собственном профессиональном опыте.
            span С февраля 2011-го Наталья ведет деятельность только на московском рынке и только в сфере консалтинга. Сначала – партнерство и позиция гендиректора в группе компаний «Фортис». Затем основание и развитие собственного «Столичного центра аудита и оценки»: успешный растущий бизнес, прочные позиции в индустрии консалтинга, работа с крупными компаниями, опыт исполнения госконтрактов. Менеджмент и экспертность Ненашевой превратили СЦАО в лакомый актив: в конце 2016-го завершилась сделка по продаже консалтингового центра IT-гиганту IBS.
          .teacher-sec__item-hidden-text
            span С 2018-го Наталья управляет компанией «TOPLINE», принцип которой – предоставлять бизнесменам консалтинговые и бухгалтерские услуги 21 века. «Подход компании – “бухучет как для себя”. Со всеми вытекающими действиями. Мы хотим, чтобы бизнес наших клиентов процветал, а владельцы были довольны процессами. Мы понимаем слабые места в деятельности предпринимателей и оперативно “лечим” эти слабости. Мы создаём новые продукты, помогающие бороться с актуальными проблемами бизнеса. «TOPLINE» способен компетентно вести три вида учёта. Если налоговый учёт и бухучет строго регламентированы, то управленческий учёт – полная свобода действий владельца в зависимости от задач и взглядов на развитие бизнеса», – подчеркивает Ненашева.
            span <strong>Кроме того, «TOPLINE» – это учёт в режиме онлайн. Предприниматель оперативно получает данные, на основе которых может реагировать и принимать управленческие решения, важные для бизнеса. «TOPLINE» всегда заботится о предпринимателях, стремится снабдить их необходимой информацией.</strong>
            span <strong>Юридическая и финансовая грамотность позволяет строить бизнес так, чтобы он был прозрачным, понятным, безопасным для владельца, масштабируемым и быстро развивающимся. Безопасность и благополучие клиента – одна из главных ценностей компании «TOPLINE». Именно этому подчинены все рабочие процессы по налаживанию бухгалтерского, налогового и управленческого учёта для бизнесменов, которые обращаются к нам за помощью.</strong>
      //end teacher-sec__item-hidden
    //end teacher-sec__body

    //begin teacher-sec__footer
    .teacher-sec__footer
      .teacher-sec__footer-open
        span Ознакомиться подробнее
        +svg('arr-down')
      .teacher-sec__footer-close
        +svg('arr-down')
        span Свернуть описание
    //end teacher-sec__footer

//end teacher-sec