//begin top-sec
.newtopline-top-sec
  .newtopline-container
    h2.newtopline-top-sec__title.newtopline-title Пройдите тест за 5 минут, пообщайтесь со специалистом и через 60 минут <span>получите карту развития и скрытых рисков вашего бизнеса</span>

    //begin top-sec-info
    .newtopline-top-sec__info.newtopline-top-sec-info
      //begin top-sec-info__left
      .newtopline-top-sec-info__left
        .newtopline-top-sec-info__ps Получите бесплатно онлайн-диагностику от профессионалов по финансам, налогам, бухгалтерским и юридическим вопросам
        a(href="#form-sec").newtopline-top-sec-info__btn.newtopline-btn.newtopline-scroll-link Записаться на онлайн-диагностику
        h3.newtopline-top-sec-info__title И узнайте, как:
        ul.newtopline-top-sec-info__list
          li.newtopline-top-sec-info__item Вести бизнес без обвинений налогового органа в его дроблении
          li.newtopline-top-sec-info__item Безболезненно «обелить» свой бизнес
          li.newtopline-top-sec-info__item Избежать штрафов от ФНС РФ и блокировок счета в рамках закона № 115-ФЗ
          li.newtopline-top-sec-info__item Критерии для получения бизнес-кредитов, госконтрактов, участия в тендерах
          li.newtopline-top-sec-info__item Попасть в группу льготного налогообложения IT-бизнеса
          li.newtopline-top-sec-info__item Не купить «кота в мешке» при покупке бизнеса
          li.newtopline-top-sec-info__item Обезопасить себя при продаже бизнеса
          li.newtopline-top-sec-info__item Какую систему налогообложения выбрать, после отмены ЕНВД
      //end top-sec-info__left

      //begin top-sec-info__right
      .newtopline-top-sec-info__right
        .newtopline-top-sec-info__pic
          img(src="assets/img/top-sec.svg" alt="picture")
      //end top-sec-info__right
    //end top-sec-info

    //begin top-sec-footer
    .newtopline-top-sec__footer.newtopline-top-sec-footer
      a(href="#index-info").newtopline-top-sec-footer__link.newtopline-scroll-link
        |Узнать подробнее
        +svg('arr-down')
    //end top-sec-footer

//end top-sec
