//begin why-sec
.why-sec
  .container
    h2.why-sec__title.title Почему актуально сегодня <span>пройти диагностику и не откладывать на потом?</span>

    //begin why-sec-info
    .why-sec__info.why-sec-info
      //begin why-sec__diagram
      .why-sec__diagram
        .why-sec__diagram-pic
          img(src="assets/img/why-diagram.svg" alt="picture")
        .why-sec__diagram-info
          h3.why-sec__diagram-title В России самая эффективная система взимания налогов в мире
          .why-sec__diagram-text
            span Методы налогового администрирования только в 2019-м <strong>принесли в бюджет дополнительно 171 млрд ₽,</strong> из них 118 млрд ₽ – НДС; 53 млрд ₽ – налог на прибыль. Эти деньги были собраны с бизнеса, который оказался не способен на легальную и эффективную налоговую оптимизацию и проиграл в «противостоянии» с ФНС.
            span <strong>Если к вам СЕГОДНЯ нет вопросов – это не значит, что ЗАВТРА их не будет. Возможно, вы просто ЕЩЕ не получили уведомление от налогового органа.</strong>
      //end why-sec__diagram

      //begin why-sec__blockquote
      .why-sec__blockquote
        blockquote Правила ведения бизнеса, которые были <span>ВЧЕРА</span>, могут быть <span>не актуальны</span> для вас
      //end why-sec__blockquote

      //begin why-sec__diagram
      .why-sec__diagram
        .why-sec__diagram-comb
          .why-sec__diagram-comb-row
            .why-sec__diagram-comb-img
              img(src="assets/img/diagram-comb-img-01.svg" alt="picture")
            .why-sec__diagram-comb-text
              span количество изменений законодательства по налоговым сборам в РФ в 2019 году
          .why-sec__diagram-comb-row
            .why-sec__diagram-comb-img
              img(src="assets/img/diagram-comb-img-02.svg" alt="picture")
            .why-sec__diagram-comb-text
              span количество изменений законодательства по налоговым сборам в РФ за 9 месяцев 2020 года
        .why-sec__diagram-info
          .why-sec__diagram-text
            span В то время как в Европе изменения происходят в несколько раз реже. Неудивительно, что в России <strong>бизнес проигрывает налоговикам 85% судебных споров</strong> (а в регионах – почти 100%). Без помощи профессионалов «отбиться» от финансовых претензий государства почти нереально.
            span Вам необходимо найти партнёра, который подготовит вместе с вами или за вас всё, что требуется, <strong>СЕГОДНЯ-ЗАВТРА.</strong> Правила, которые были <strong>ВЧЕРА,</strong> могут быть не актуальны для вас <strong>СЕГОДНЯ.</strong>
      //end why-sec__diagram

      //begin why-sec__diagram
      .why-sec__diagram.why-sec__diagram--last
        .why-sec__diagram-pic
          img(src="assets/img/why-graph.svg" alt="picture")
        .why-sec__diagram-info
          h3.why-sec__diagram-title Доначисления налогов растут с каждым годом на 20 %
          .why-sec__diagram-text
            span Количество выездных налоговых проверок уменьшается, но суммы доначисленных налогов увеличиваются. Суммы доначислений на одну проверку за два года выросли более чем вдвое: <strong>с 15 млн ₽ в 2017-м до 33,5 млн ₽ в 2019-м.</strong> Всего в прошлом году по итогам проверок <strong>доначислено 212 млрд ₽ налогов и 89 млрд ₽ пени и штрафов.</strong>
            span Не хотите повторить судьбу бизнеса, попавшего на суммы с семью нулями?<br><strong>Единственный способ уберечься – проводить налоговую оптимизацию грамотно, с привлечением компетентных профессионалов!</strong>
      //end why-sec__diagram
    //end why-sec-info

    .why-sec__footer
      a(href="#form-sec").why-sec__btn.btn.scroll-link Записаться на диагностику
//end why-sec