*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-weight: 700;
  }
}

a {
  transition: color $transition-hover;
  text-decoration: none;
  color: $link;
  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;

  @include placeholder-color($text);
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;

  @include max(560) {
    padding: 0 25px;
  }
}

.title {
  font-weight: 800;
  line-height: 1.52;
  color: #1e1e1e;

  @include responsive-font(33, 25);
  @include max(560) {
    line-height: 1.35;
  }
  span {
    color: $brand;
  }
}

.btn {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  padding: 10px 30px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 3px !important;
  background-color: $brand;
  background-image: linear-gradient(87.99deg, #4e2d5e 0%, #8a2c5b 100%);
  box-shadow: 0 20px 30px rgba(138, 44, 91, .15);

  @include max(374) {
    font-size: 14px;
  }

  &:hover {
    color: #fff;
  }
}
