extends ../_template

block variables
  - var title       = 'Topline'
  - var description = 'Topline'

  - var breadcrumbs     = 'breadcrumbs link'

block content
  .newtopline-main-wrap.no-js
    include ../sections/gradient-section

    //begin content
    main.newtopline-main.newtopline-subscribe
      include ../sections/header
      .newtopline-container

        //begin subscribe__info
        .newtopline-subscribe__info.newtopline-subscribe-info
          .newtopline-subscribe-info__left
            h2.newtopline-subscribe-info__title <span>Подписывайтесь</span> на еженедельные новости компании «TOPLINE»
            ul.newtopline-subscribe-info__list.newtopline-custom-ul
              li Дайджест публикаций
              li Изменения в законодательствах
              li Экспертные обзора и разборы ситуаций
            button.newtopline-subscribe-info__btn.newtopline-btn Подписаться
          .newtopline-subscribe-info__pic
            img(src="assets/img/subscribe.svg" alt="picture")
        //end subscribe__info

        //begin subscribe__links
        .newtopline-subscribe__links.newtopline-subscribe-links
          //begin subscribe-links-block
          .newtopline-subscribe-links-block
            h3.newtopline-subscribe-links-block__title Соцсети Натальи Ненашевой:
            ul.newtopline-subscribe-links__list
              li.newtopline-subscribe-links__item
                a(href="https://1topline.ru/stati/" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-blog')
                  span.newtopline-subscribe-links__text Блог

              li.newtopline-subscribe-links__item
                a(href="https://www.instagram.com/nenasheva_natalya/" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-inst')
                  span.newtopline-subscribe-links__text Инстаграм

              li.newtopline-subscribe-links__item
                a(href="https://www.facebook.com/natalya.nenasheva.3" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-fb')
                  span.newtopline-subscribe-links__text Facebook

              li.newtopline-subscribe-links__item
                a(href="https://www.youtube.com/watch?v=SztlUWd83ao&app=desktop" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-yt')
                  span.newtopline-subscribe-links__text Youtube-канал
          //end subscribe-links-block

          //begin subscribe-links-block
          .newtopline-subscribe-links-block
            h3.newtopline-subscribe-links-block__title Соцсети компании TOPLINE:
            ul.newtopline-subscribe-links__list
              li.newtopline-subscribe-links__item
                a(href="https://www.instagram.com/topline.cc/" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-inst')
                  span.newtopline-subscribe-links__text Инстаграм <span>TOPLINE</span>

              li.newtopline-subscribe-links__item
                a(href="https://www.facebook.com/topline.cc" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-fb')
                  span.newtopline-subscribe-links__text Facebook <span>TOPLINE</span>

              li.newtopline-subscribe-links__item
                a(href="https://vk.com/public196282190" target="_blank" rel="nofollow noopener noreferrer").newtopline-subscribe-links__link
                  .newtopline-subscribe-links__icon
                    +svg('sub-vk')
                  span.newtopline-subscribe-links__text <span>TOPLINE</span> ВКонтакте
          //end subscribe-links-block
        //end subscribe__links

        //begin subscribe__videos
        .newtopline-subscribe__videos.newtopline-subscribe-videos
          .newtopline-subscribe-videos__pic
            img(src="assets/img/subscribe-videos.png" alt="picture")
          .newtopline-subscribe-videos__text
            h3.newtopline-subscribe-videos__title <span>Подписывайтесь на Youtube канал Натальи Ненашевой </span> и смотрите новые видео каждую неделю!
            a(href="#").newtopline-subscribe-videos__btn
              img(src="assets/img/youtube.png" alt="picture")
              span Перейти на YouTube-канал
        //end subscribe__videos
    //end content

    include ../sections/footer
    include ../sections/scripts
