extends ../_template

block variables
  - var title       = 'Topline'
  - var description = 'Topline'

  - var breadcrumbs     = 'breadcrumbs link'

block content
  .main-wrap.no-js
    include ../sections/gradient-section

    //begin content
    main.main.thnx
      include ../sections/header
      .container
        header.thnx__header
          h2.thnx__title <span>Спасибо</span> за регистрацию!

        //begin thnx__info
        .thnx__info.thnx-info
          .thnx-info__left
            h3.thnx-info__title С вами свяжется специалист компании «TOPLINE»
            .thnx-info__text
              span Пока вы ожидаете звонка от специалиста, выберите дату и время диагностики в ближайшие понедельник, среду или пятницу
            button.thnx-info__btn.btn Выбрать дату
            h3.thnx-info__title В итоге вы:
            ul.thnx-info__list.custom-ul
              li Определите точки налоговых рисков для вашей компании
              li Получите план развития и карту скрытых рисков вашего бизнеса
              li Научитесь понимать своего бухгалтера и качественно проверять результаты его работы
              li Поймете, как правильно выстроить управленческий учет в компании
          .thnx-info__pic
            img(src="assets/img/thnx.svg" alt="picture")
        //end thnx__info
    //end content

    include ../sections/footer
    include ../sections/scripts
